body{
  text-align: center;
  font-family: sans-serif;
  margin: 0;
}

/* Navigation Bar */

nav{
  font-size: 1.2rem;
  background-color:#f6f6f6;
  padding-top: 0;
}

.nav-item{
  color: #928a97;
}

nav a:hover{
  color: #625772;
}

/* Doubt */
/* nav .nav-brand a:hover{
  color: #625772;
} */


li #nav-brand{
  font-size: 2rem;
  padding-right: 500px;
  font-weight: bold;
  color: #7ac7c4;
}

a{
  text-decoration: none;
  margin: 0;
  padding: 0;
}

nav ul{
  list-style-type: none;
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 16px;
}

/* Home section */
